.doctors-container {
  width: 100%;
  color: var(--body);
}

.doctors-content {
  margin-top: 1rem;
  padding: 1rem 0 2rem;
  border-top: 1px solid var(--body);
  max-width: 1024px;
  margin: 0 auto;
}

.doctors-list { 
  margin-top: 1rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 1rem;
}

.doctor-profile {
  display: flex;
  flex-direction: column;
}

.doctor-profile img {
  width: 100%;
}

.doctor-profile strong {
  margin: 16px 0;
}

.doctor-profile .list {
  margin-bottom: 16px;
}

.doctors-content:last-child > p {
  margin-top: 16px;
}