.howwoks-container {
  width: 100%;
  color: var(--body);
}

.howwoks-content {
  max-width: 1024px;
  margin: 0 auto;
  margin: 32px auto 32px;
}

.howworks-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 16px;
  margin-top: 16px;
}

.howworks-card p {
  text-align: justify;
}