* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

:root {
  --background: #162521;
  --body: #abc1d8;
  --hightlight: #97d8a1;
}

a {
  color: var(--hightlight);
}
